.card-container{
    display: flex;
    justify-content: center;
}
.card-body .card-form{
    display: flex;
    justify-content: center;
}
input{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #0a0909;
    border-radius: 4px;
}
main{
    padding-top: 2em;
        background-color:#446d9c;
}
.grid-container{
    height: 600px;
    display: grid;
    grid-template: 
    "fechas fechas actividades actividades" 45%
    "bibliografia bibliografia actividades actividades" 45%
    "footer footer footer footer" 10% / 1fr 1fr 1fr 1fr; 
}

.fechas{
    background-color: aliceblue;
    grid-area: fechas;
    padding: 10px;
}

.bibliografia{
    background-color: lightblue;
    grid-area: bibliografia;
}

.actividades{
    background-color: lightcyan;
    grid-area: actividades;
}

.footer-grid{
    background-color: #446d9c;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.image{
    background-image: url(../img/Foto-perfil.jpg);
    width: 400px;
    height: 400px;
    background-size: contain;
    border-radius: 200px;
    border: solid 8px #e6c39e;
}
.sobremi-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    height: 600px;
}
.button{
    background-color: #e6c39e;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 50%;
    text-align: center;
    box-shadow: 2px 2px 9px #737373;
}
.button-a{
    text-decoration: none;
    color: black;

}
.card-presentacion{
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.sobremi-section{
    display: flex;
    background-color: #e6c39e;
    padding: 35px;
    height: 30em;
}
.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px 50px;
    width: 50%;
    justify-content: flex-start;
    padding-top: 20px;
}
.skill-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.skill-list-item{
    background-color: #113946;
    color: white;
    font-weight: bold;
    padding: 5px 0px 5px 34px;
    width: 33%;
}
.sobremi-h2{
    font-weight: 800;
    margin-bottom: 40px;
}
.sobremi-text{
    width: 70%;
}
.skill-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding-top: 20px;
}
.footer-container{
    display: flex;
    justify-content: center;
    background-color: #446d9c;
    color: #fff;
    gap: 2em;
    height: 3em;
    align-items: center;
}
.footer-text{
    margin-bottom: 0px;
}
@media (max-width: 768px) {
    .grid-container{
        grid-template: 
        "fechas fechas" 45%
        "bibliografia bibliografia" 45%
        "actividades actividades" 45%
        "footer footer" 10% / 1fr 1fr; 
    }
    .text-container{
        width: 75%;
        margin: 0px 0px;
    }
    .skill-list-item{
        width: 100%;
    }
    .card-presentacion{
        width: 100%;
    }
    .image{
        width: 250px;
        height: 250px;
        border-radius: 125px;
    }
    .skill-container{
        gap: 0px;
    }
    .sobremi-text{
        margin-bottom: 8px;
    }
    .sobremi-h2{
        margin-bottom: 20px;
    }
}